## Домашнее задание «Рекомендации на основе скрытых факторов»
### Никифоров Владимир

-  “Требуется построить модель рекомендаций на основе скрытых факторов (implicit) на основе dataset’а https://grouplens.org/datasets/hetrec-2011/ (Delicious Bookmarks)”

In [3]:
!pip install implicit

Collecting implicit
  Downloading https://files.pythonhosted.org/packages/c4/4d/47e8d8c9966a8aa5aa66de5bdd1eb608dee9b7b9305561f179c6249510e3/implicit-0.4.0.tar.gz (1.1MB)
    100% |████████████████████████████████| 1.1MB 9.0MB/s
Requirement already satisfied: numpy in /home/truename/anaconda3/lib/python3.7/site-packages (from implicit) (1.15.1)
Requirement already satisfied: scipy>=0.16 in /home/truename/anaconda3/lib/python3.7/site-packages (from implicit) (1.1.0)
Collecting tqdm>=4.27 (from implicit)
  Downloading https://files.pythonhosted.org/packages/dc/88/d3213e2f3492daf09d8b41631ad6899f56db17ce83ea9c8a579902bafe5e/tqdm-4.35.0-py2.py3-none-any.whl (50kB)
    100% |████████████████████████████████| 51kB 6.7MB/s
Building wheels for collected packages: implicit
  Building wheel for implicit (setup.py) ... done
  Stored in directory: /home/truename/.cache/pip/wheels/fd/d1/66/84e83191d9f626c521271023e4ef83e634e3b8c154f2c4b2da
Successfully built implicit
Installing collected packages: tqdm, implicit
  Found existing installation: tqdm 4.26.0
    Uninstalling tqdm-4.26.0:
      Successfully uninstalled tqdm-4.26.0
Successfully installed implicit-0.4.0 tqdm-4.35.0
You are using pip version 19.0.2, however version 19.2.3 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [4]:
import pandas as pd
import numpy as np
from tqdm import tqdm_notebook

import scipy.sparse as sparse

%matplotlib inline

from implicit.als import AlternatingLeastSquares

In [51]:
raw_data = pd.read_table('../data/hetrec2011-delicious-2k/user_taggedbookmarks-timestamps.dat', usecols=['userID','bookmarkID','tagID'])

In [52]:
print(raw_data.describe())
raw_data.head()

              userID     bookmarkID          tagID
count  437593.000000  437593.000000  437593.000000
mean    46120.551432   40635.829952    5869.114463
std     32450.744004   31627.970529   10467.301443
min         8.000000       1.000000       1.000000
25%     14601.000000   13355.000000     339.000000
50%     43978.000000   30575.000000    1132.000000
75%     74110.000000   66245.000000    5739.000000
max    108035.000000  107253.000000   52955.000000

   userID  bookmarkID  tagID
0       8           1      1
1       8           2      1
2       8           7      1
3       8           7      6
4       8           7      7

In [53]:
# Вместо tagID будем считать количество tag-ов
raw_data = raw_data.groupby(['userID', 'bookmarkID'])['tagID'].count().reset_index()
raw_data.columns = ['userID', 'bookmarkID', 'tagCount']
raw_data.head()

   userID  bookmarkID  tagCount
0       8           1         1
1       8           2         1
2       8           7         3
3       8           8         3
4       8           9         2

In [54]:
rows = raw_data.userID.astype(int)
cols = raw_data.bookmarkID.astype(int)
tags = list(raw_data.tagCount)

In [55]:
data_sparse = sparse.csr_matrix((tags, (cols, rows)), shape=(max(cols)+1, max(rows)+1))

In [56]:
model = AlternatingLeastSquares(factors=100)
model.fit(data_sparse)

HBox(children=(IntProgress(value=0, max=15), HTML(value='')))

In [58]:
list(raw_data['userID'].unique())

[8,
 32,
 57,
 147,
 233,
 242,
 259,
 302,
 319,
 336,
 372,
 427,
 485,
 521,
 538,
 620,
 788,
 819,
 913,
 934,
 970,
 1016,
 1033,
 1049,
 1094,
 1103,
 1113,
 1149,
 1263,
 1296,
 1320,
 1328,
 1352,
 1423,
 1455,
 1476,
 1505,
 1557,
 1701,
 1751,
 1774,
 1822,
 1856,
 1887,
 1933,
 1952,
 1987,
 2022,
 2032,
 2055,
 2128,
 2151,
 2232,
 2300,
 2315,
 2330,
 2367,
 2393,
 2437,
 2462,
 2487,
 2498,
 2549,
 2570,
 2586,
 2611,
 2636,
 2701,
 2716,
 2748,
 2831,
 2879,
 2911,
 2934,
 2952,
 2961,
 2989,
 3032,
 3083,
 3122,
 3203,
 3220,
 3233,
 3257,
 3279,
 3337,
 3396,
 3421,
 3454,
 3513,
 3539,
 3568,
 3646,
 3728,
 3743,
 3789,
 3817,
 3836,
 3914,
 3943,
 3957,
 4031,
 4089,
 4109,
 4135,
 4154,
 4188,
 4237,
 4324,
 4363,
 4488,
 4549,
 4681,
 4717,
 4742,
 4762,
 4795,
 4828,
 4911,
 4977,
 5024,
 5046,
 5075,
 5108,
 5186,
 5251,
 5266,
 5323,
 5424,
 5478,
 5584,
 5606,
 5648,
 5802,
 5817,
 5863,
 5937,
 5947,
 5959,
 6020,
 6047,
 6067,
 6092,
 6111,
 6120,
 6141,
 6157,
 6186,
 6195,
 6263,
 6403,
 6452,
 6510,
 6548,
 6585,
 6652,
 6663,
 6677,
 6704,
 6796,
 6862,
 6888,
 6897,
 6919,
 6934,
 6995,
 7050,
 7066,
 7081,
 7105,
 7122,
 7175,
 7212,
 7268,
 7275,
 7290,
 7328,
 7379,
 7396,
 7461,
 7506,
 7558,
 7706,
 7740,
 7779,
 7843,
 7865,
 7924,
 7948,
 7978,
 8016,
 8039,
 8068,
 8095,
 8216,
 8232,
 8291,
 8315,
 8336,
 8351,
 8373,
 8386,
 8408,
 8445,
 8452,
 8484,
 8554,
 8567,
 8612,
 8622,
 8670,
 8680,
 8691,
 8716,
 8743,
 8775,
 8794,
 8883,
 8905,
 8953,
 8974,
 8997,
 9016,
 9054,
 9106,
 9145,
 9152,
 9167,
 9198,
 9307,
 9402,
 9411,
 9440,
 9469,
 9486,
 9528,
 9548,
 9566,
 9578,
 9600,
 9660,
 9689,
 9766,
 9796,
 9845,
 9909,
 9917,
 9928,
 9985,
 10054,
 10125,
 10178,
 10192,
 10235,
 10253,
 10289,
 10313,
 10327,
 10376,
 10425,
 10486,
 10510,
 10523,
 10567,
 10587,
 10620,
 10634,
 10654,
 10680,
 10691,
 10725,
 10740,
 10808,
 10831,
 10885,
 10949,
 10990,
 11001,
 11042,
 11081,
 11109,
 11144,
 11166,
 11260,
 11274,
 11295,
 11367,
 11402,
 11428,
 11475,
 11535,
 11568,
 11604,
 11636,
 11690,
 11699,
 11713,
 11721,
 11729,
 11765,
 11779,
 11797,
 11829,
 11844,
 11853,
 11896,
 11932,
 11962,
 11996,
 12003,
 12025,
 12034,
 12074,
 12098,
 12125,
 12155,
 12205,
 12299,
 12353,
 12366,
 12417,
 12476,
 12506,
 12529,
 12587,
 12623,
 12667,
 12690,
 12708,
 12751,
 12804,
 12829,
 12837,
 12847,
 12874,
 12885,
 12925,
 12976,
 12994,
 13001,
 13062,
 13084,
 13102,
 13129,
 13161,
 13191,
 13214,
 13222,
 13229,
 13251,
 13293,
 13320,
 13356,
 13366,
 13434,
 13469,
 13629,
 13642,
 13676,
 13691,
 13713,
 13724,
 13783,
 13791,
 13804,
 13843,
 13913,
 13924,
 13936,
 13973,
 13994,
 14030,
 14048,
 14067,
 14077,
 14138,
 14206,
 14215,
 14288,
 14323,
 14349,
 14386,
 14426,
 14486,
 14497,
 14579,
 14601,
 14631,
 14653,
 14666,
 14677,
 14735,
 14759,
 14876,
 14889,
 14944,
 14966,
 14974,
 14998,
 15012,
 15049,
 15067,
 15092,
 15116,
 15180,
 15211,
 15232,
 15260,
 15298,
 15307,
 15318,
 15408,
 15464,
 15494,
 15526,
 15554,
 15565,
 15583,
 15624,
 15728,
 15766,
 15773,
 15784,
 15800,
 15807,
 15863,
 15905,
 15991,
 16016,
 16042,
 16080,
 16090,
 16153,
 16162,
 16181,
 16193,
 16205,
 16394,
 16419,
 16450,
 16495,
 16512,
 16524,
 16553,
 16602,
 16626,
 16643,
 16679,
 16727,
 16834,
 16867,
 16915,
 16935,
 16953,
 16972,
 16998,
 17021,
 17102,
 17130,
 17187,
 17200,
 17210,
 17308,
 17340,
 17397,
 17430,
 17462,
 17531,
 17555,
 17633,
 17659,
 17684,
 17711,
 17807,
 17829,
 17855,
 17884,
 18115,
 18144,
 18349,
 18481,
 18588,
 18666,
 18720,
 18745,
 18785,
 18893,
 18924,
 19009,
 19071,
 19222,
 19320,
 19334,
 19354,
 19433,
 19500,
 19560,
 19622,
 19634,
 19688,
 19812,
 20104,
 20181,
 20214,
 20235,
 20269,
 20410,
 20462,
 20533,
 20614,
 20719,
 20889,
 20949,
 21050,
 21073,
 21127,
 21148,
 21307,
 21343,
 21503,
 21566,
 21619,
 21634,
 21682,
 21733,
 21779,
 21862,
 21994,
 22005,
 22054,
 22091,
 22163,
 22225,
 22245,
 22445,
 22507,
 22526,
 22546,
 22563,
 22617,
 22681,
 22688,
 22728,
 22743,
 22791,
 22919,
 23026,
 23100,
 23135,
 23199,
 23351,
 23367,
 23486,
 23523,
 23595,
 23650,
 23687,
 23723,
 23849,
 23948,
 23992,
 24009,
 24096,
 24208,
 24227,
 24242,
 24266,
 24346,
 24404,
 24510,
 24571,
 24608,
 24770,
 24802,
 24924,
 25074,
 25116,
 25253,
 25319,
 25395,
 25488,
 25515,
 25702,
 25723,
 25738,
 25795,
 25810,
 25835,
 25936,
 26018,
 26036,
 26183,
 26200,
 26261,
 26305,
 26333,
 26497,
 26550,
 26579,
 26623,
 26642,
 26654,
 26679,
 26747,
 26787,
 26876,
 26937,
 26954,
 26974,
 27006,
 27025,
 27065,
 27143,
 27166,
 27181,
 27229,
 27275,
 27380,
 27421,
 27443,
 27466,
 27541,
 27624,
 27640,
 27697,
 27706,
 27748,
 27832,
 27910,
 27926,
 27994,
 28049,
 28061,
 28115,
 28153,
 28206,
 28219,
 28336,
 28371,
 28459,
 28526,
 28539,
 28550,
 28564,
 28594,
 28623,
 28674,
 28803,
 28843,
 28870,
 29167,
 29415,
 29427,
 29455,
 29480,
 29509,
 29555,
 29627,
 29658,
 29712,
 29888,
 29921,
 29949,
 30018,
 30040,
 30064,
 30103,
 30118,
 30201,
 30221,
 30261,
 30378,
 30443,
 30511,
 30548,
 30574,
 30669,
 30712,
 30815,
 30848,
 30962,
 31020,
 31039,
 31053,
 31272,
 31429,
 31503,
 31602,
 31749,
 31809,
 31942,
 31994,
 32016,
 32033,
 32059,
 32088,
 32180,
 32213,
 32282,
 32375,
 32387,
 32415,
 32438,
 32518,
 32542,
 32598,
 32617,
 32666,
 32715,
 32724,
 32738,
 32839,
 32889,
 32910,
 32981,
 33045,
 33106,
 33121,
 33139,
 33163,
 33225,
 33256,
 33328,
 33422,
 33457,
 33625,
 33703,
 33746,
 33804,
 33925,
 34001,
 34047,
 34183,
 34267,
 34396,
 34537,
 34600,
 34652,
 34764,
 34807,
 34860,
 35010,
 35030,
 35089,
 35223,
 35259,
 35289,
 35374,
 35404,
 35440,
 35480,
 35518,
 35541,
 35646,
 35745,
 35848,
 35908,
 35921,
 35995,
 36075,
 36132,
 36200,
 36332,
 36493,
 36549,
 36597,
 36616,
 36667,
 36735,
 36746,
 36829,
 36844,
 36873,
 36971,
 37115,
 37186,
 37213,
 37243,
 37475,
 37550,
 37567,
 37786,
 37851,
 37874,
 37950,
 38220,
 38271,
 38415,
 38525,
 38536,
 38579,
 38668,
 38719,
 38767,
 38790,
 38853,
 38883,
 38943,
 38984,
 39053,
 39077,
 39091,
 39164,
 39299,
 39319,
 39359,
 39375,
 39415,
 39593,
 39642,
 39674,
 39694,
 39755,
 39813,
 39840,
 39895,
 39968,
 40001,
 40070,
 40146,
 40306,
 40324,
 40387,
 40523,
 40562,
 40599,
 40625,
 40647,
 40683,
 40836,
 40878,
 40917,
 40958,
 41072,
 41150,
 41183,
 41201,
 41291,
 41330,
 41379,
 41461,
 41470,
 41505,
 41568,
 41610,
 41685,
 41759,
 41788,
 41801,
 41911,
 42074,
 42186,
 42250,
 42450,
 42525,
 42630,
 42649,
 42679,
 42725,
 42841,
 42872,
 42950,
 43046,
 43070,
 43164,
 43204,
 43301,
 43335,
 43502,
 43554,
 43570,
 43678,
 43978,
 44010,
 44046,
 44166,
 44278,
 44303,
 44334,
 44368,
 44382,
 44414,
 44451,
 44460,
 44568,
 44712,
 44758,
 44871,
 44917,
 44978,
 44987,
 45095,
 45129,
 45151,
 45196,
 45212,
 45232,
 45276,
 45299,
 45368,
 45428,
 45497,
 45524,
 45573,
 45650,
 45748,
 45897,
 45945,
 45974,
 46052,
 46220,
 46279,
 46319,
 46409,
 46549,
 46674,
 46715,
 46766,
 46798,
 46888,
 46901,
 46970,
 47053,
 47150,
 47238,
 47252,
 47354,
 47462,
 47559,
 47630,
 47658,
 47696,
 47778,
 47810,
 47923,
 47951,
 47996,
 48054,
 48330,
 48357,
 48396,
 48429,
 48457,
 48472,
 48485,
 48520,
 48552,
 48586,
 48597,
 48618,
 48697,
 48810,
 49031,
 49058,
 49104,
 49159,
 49238,
 49268,
 49300,
 49329,
 49363,
 49394,
 49408,
 49482,
 49591,
 49683,
 49764,
 49792,
 49816,
 49839,
 49850,
 49896,
 49978,
 50012,
 50064,
 50195,
 50255,
 50323,
 50387,
 50415,
 50438,
 50538,
 50556,
 50603,
 50628,
 50698,
 50732,
 50763,
 50838,
 50854,
 50917,
 50941,
 51017,
 51114,
 51149,
 51188,
 51283,
 51351,
 51367,
 51379,
 ...]

In [70]:
userid = 259

user_items = data_sparse.T.tocsr()
recommendations = model.recommend(userid, user_items)
print(recommendations)

[(662, 0.6809554), (661, 0.67981803), (611, 0.6352436), (649, 0.63493264), (610, 0.63038224), (626, 0.6123637), (635, 0.5933938), (629, 0.5820317), (664, 0.5779096), (608, 0.5774816)]

In [66]:
titles = pd.read_table('../data/hetrec2011-delicious-2k/bookmarks.dat', encoding='koi8-r', usecols=['id','title'])
titles.head()

   id                                              title
0   1  IFLA - The official website of the Internation...
1   2                gcdp-e.pdf (application/pdf Object)
2   7                                           EdSelect
3   8                   Cool Canada (Collections Canada)
4   9                                      Kidsreads.com

In [74]:
# Итого - рекоммендация внести в закладки следующие страницы:
titles[titles['id'].isin([r[0] for r in recommendations])]

      id                                              title
443  608  Information Architecture 101: Techniques and B...
445  610  Common Security Mistakes in Web Applications -...
446  611                                         Entitifier
458  626  Showcase of Interesting Navigation Designs - S...
461  629    An Analysis of Typography on the Web | Nettuts+
466  635  Free Wireframing Kits, UI Design Kits, PDFs an...
479  649  Commonly Confused Bits Of jQuery - Smashing Ma...
489  661     A Complete Guide To Tumblr - Smashing Magazine
490  662  11 Best WebSites To Make Your Job Interview Su...
492  664  A List Apart: Articles: SVG with a little help...